*.iml
*.ser
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/shelf
/.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild
