<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.nhiroki.bluelineconsole">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_descriptor"
        >
        <uses-library android:name="android.test.runner"
            android:required="false" />
        <uses-library android:name="android.test.rules"
            android:required="false" />

        <activity
            android:name=".applicationMain.MainActivity"
            android:label="@string/app_name"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ASSIST" />
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".applicationMain.HomeActivity"
            android:label="@string/app_name"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"
            android:theme="@style/AppThemeHome"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".applicationMain.NotificationMigrationLostActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".applicationMain.PreferencesCustomWebActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".applicationMain.PreferencesEachURLActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"
            />
        <activity
            android:name=".applicationMain.PreferencesAccentColorActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesWidgetCommandsActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesWidgetCommandEachActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesWidgetCommandSelectWidget"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesHomeScreenItemsActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesHomeScreenAddWidgetActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesHomeScreenEachDefaultItemCommandActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesHomeScreenEachWidgetActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.StartUpHelpActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".commands.netutils.PingActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            />
        <activity
            android:name=".commands.netutils.Ping6Activity"
            android:exported="false"
            android:theme="@style/AppTheme"
            />

        <receiver android:name=".widget.LauncherWidgetProvider"
            android:label="@string/widget_launcher_label"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/launcher_widget_info" />
        </receiver>
        <receiver android:name=".applicationMain.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
