<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.nhiroki.bluelineconsole">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        >
        <activity
            android:name=".applicationMain.MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ASSIST" />
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".applicationMain.PreferencesActivity"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesCustomWebActivity"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.PreferencesEachURLActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            />
        <activity
            android:name=".applicationMain.PreferencesAccentColorActivity"
            android:exported="false"
            />
        <activity
            android:name=".applicationMain.StartUpHelpActivity"
            android:exported="false"
            />
        <activity
            android:name=".commands.netutils.PingActivity"
            android:exported="false"
            />
        <activity
            android:name=".commands.netutils.Ping6Activity"
            android:exported="false"
            />

        <receiver android:name=".applicationMain.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
